/* Remove the bullets and the margins and padding from the list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
    font-size: 18px; /* Increased text to enable scrolling */
}
/* Fixed sidenav, full height */
#navbar {
        height: 100%;
        width: 290px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 10px;
}
/* Style the sidenav links and h3 element */
#navbar a,
.h3  {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
}
/* On mouse-over */
#navbar a:hover {
    color: #f1f1f1;
}
/* Main content */
.main-section {
    margin-left: 290px; /* Same as the width of the navbar */
    padding: 0px 10px;
}
header {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold; 
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }